*{
    margin:0;
    padding:0;
    color:white;
    /* border: 2px solid red; */
}
a{
    text-decoration: none;
}

li{
    list-style-type: none;
    display:inline-block;
    margin: 30px 0 0 0;
    padding: 5px 20px;
    font-style: italic;
    font-weight: bold;
}
li:hover{
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    font-style: italic;
    font-weight: bold;
    transition:0.6s ;
    padding:5px 20px;
}
li a:hover{
    color:yellow;
    font-style: italic;
    font-weight: bold;
}
header{
    width:auto;
    height:80px;
    padding:0 60px;
    display:flex;
    justify-content:space-between;
    border-bottom: 2px solid yellow;
    background-color: rgb(22, 21, 21);
}
.header-right{
    font-size: 40px;
    font-weight: bold;
    padding:20px 0 0 0;
    float:left;
}

.section1{
    background-color:black;
    height: 100vh;
}

.myname{ 
margin: 17% 0px 0 50px;

}
.myname a{
    font-size: 20px;
    background-color: gold;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border:2px solid white;
    transition: .5s;
}
.myname a:hover{
    background: transparent;
    border:2px solid gold;


}
.main img{
    position: absolute;
    bottom: 15%;
    right: 15%;
    height:350px;
    width:330px;
    border-radius:10%;

}
.blur{
    position: absolute;
    box-shadow: 0px 0px 360px 100px rgb(249, 249, 0);
    z-index: -100px;
}
.myname h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}



.myname h1{
    font-size: 40px;
}
/* .myname h2{
    color: white;
} */
.myname h2 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.section2{
    display: flex;
    background-color: black;
    height: 99vh;
    border-top: 2px solid yellow;
}
.section2 img{
    margin:50px 20px 0 50px;
    border-radius: 20px;
}
.parag1 h1{
    font-size: 60px;
    border-bottom: 2px solid rgb(255, 255, 0);
    width: auto;
}
.parag1{
    margin:50px 150px 0 50px;
}
.parag1 p{
    text-align: left;
}
.section2 a{
    margin: 20px 0 0 50px;
    font-size: 20px;
    background-color: gold;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    border:2px solid white;
    transition: .5s;
}
.section2 a:hover{
    background: transparent;
    border:2px solid gold;
}
.about{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.section3{
    border-top:2px solid yellow ;
    height: 99vh;
    background-color: rgb(22, 21, 21);
}
.section3 h1{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}
.section3 h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px yellow;
}
.kotak{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}
.box1{
    background-color: black;
    height: 340px;
    width: 300px;
    border: 2px solid yellow;
    margin-right: 5px;
    transition: .5s;
}
.box1 svg{
margin:20px 0 0 30% ;
}
.box1:hover{
    border: 2px solid white;

}
.box1 h2:hover{
    color: yellow;
    transition: .5s;
}
.box1 p:hover{
    color: yellow;
    transition: .5s;
}

.box2{

    background-color: black;
    height: 340px;
    width: 300px;
    border: 2px solid yellow;
    margin-left: 5px;
}
.box2 svg{
    margin:20px 0 0 30% ;
}    
.kotak h2,p{
    text-align:center;
}

.box1 a{
    background-color: goldenrod;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 36%;
    transition: .5s;
}

.box1 a:hover{
    background: transparent;
    border:2px solid gold;
}
.box2 a{
    background-color: goldenrod;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
    margin-left: 38%;
    transition: .5s;
}
.box2 a:hover{
    background: transparent;
    border:2px solid gold;
}
.box2:hover{
    border: 2px solid white;

}
.box2 h2:hover{
    color: yellow;
    transition: .5s;
}
.box2 p:hover{
    color: yellow;
    transition: .5s;
}
.section4{
    background-color: black;
    height: 130vh;
    border-top: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.contact-text h1{
    text-align: center;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.contact-box:after{
 content:'';
 display: block;
 clear: both;
}
.contact1{
    width:25%;
    padding:50px;
    box-sizing: border-box;
    text-align: center;
    float: left;
}
.contact1 h4{
    color: goldenrod;
    padding-bottom:10px;
}
.contact1 h6{
    font-size: 18px;
}

footer{
    height: 11vh;
    background-color:rgb(22, 21, 21);
}
footer h2{
    padding-top: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 20px; /* Mengurangi padding di header */
    }

    .myname {
        margin: 10% 0 0 20px; /* Menyesuaikan margin untuk nama */
    }

    .main img {
    width: 300px;
    height: 300px;
    }


    .section2 {
        flex-direction: column; /* Mengubah layout ke flex column */
        height: auto;
    }

    .section2 img {
        margin: 20px auto; /* Menyesuaikan margin gambar */
    }

    .parag1 {
        margin: 20px; /* Menyesuaikan margin paragraf */
    }

    .section2 a,
    .box1 a,
    .box2 a {
        margin-left: 40%; /* Mengatur ulang margin kiri pada link */
    }

    .contact1 {
        width: 100%; /* Mengubah lebar contact box */
        float: none;
        text-align: center;
    }
    .section4 {
    height: 180vh;
    }
}
@media screen and (max-width: 500px) {
    header {
        padding: 0 20px; /* Mengurangi padding di header */
    }

    .myname {
        margin: 15% 0 0 20px; /* Menyesuaikan margin untuk nama */
        padding: 40px;
    }

    .main img {
        display: none;
    }

    .section2 {
        flex-direction: column; /* Mengubah layout ke flex column */
        height: auto;
    }

    .section2 img {
        margin: 20px auto; /* Menyesuaikan margin gambar */
        width: 80%; /* Mengatur lebar gambar */
    }

    .parag1 {
        margin: 20px; /* Menyesuaikan margin paragraf */
    }

    .section2 a{
        margin-left: 0; /* Mengatur ulang margin kiri pada link */
    }

    .svg{
        font-size: 0.8em;
    }

    /* .box2 h2{
        margin-top: 10px;
    } */

    /* .box1,
    .box2{
        height: 350px;
    } */



    .section3{
        height: 115vh;
    }

    .contact1 {
        width: 100%; /* Mengubah lebar contact box */
        float: none;
        text-align: center;
    }
    .section4{
        height: 230vh;
    }
  
}
@media screen and (max-width: 480px) {
    header {
        padding: 0 10px; /* Mengurangi padding di header */
    }
    .header-right{
        font-size: 20px;
        margin: 15px 0 0 0;

    }
    header a{
        font-size: 8px;
        
    }

    .myname {
        margin: 8% 0 0 15px; /* Menyesuaikan margin untuk nama */
    }

    .main img {
        display: none; /* Menyembunyikan gambar pada layar kecil */
    }

    .section2 {
        flex-direction: column; /* Mengubah layout ke flex column */
        height: auto;
    }

    .section2 img {
        margin: 20px auto; /* Menyesuaikan margin gambar */
        width: 80%; /* Mengatur lebar gambar */
    }

    .parag1 {
        margin: 20px; /* Menyesuaikan margin paragraf */
    }

    .section2 a {
        margin-left: 0; /* Mengatur ulang margin kiri pada link */
    }
    .box1 a,.box2 a{
        margin-left:45px; 
    }


    .svg{
        font-size: 0.4em;

    }

    .contact1 {
        width: 100%; /* Mengubah lebar contact box */
        float: none;
        text-align: center;
    }

    /* Penyesuaian lain yang diperlukan sesuai desain Anda */
}